<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="tradez" packages="">
	<Appenders>
		<Console name="app_stdout" target="SYSTEM_OUT">
    <!--  PatternLayout pattern="%date{HH:mm:ss,SSS} %t %-5level %class{1.}:%method:: %message %n" / -->
    <PatternLayout pattern="%date %t %-5level %message %n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="net.progressit.tradez" level="debug">
			<AppenderRef ref="app_stdout" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="app_stdout" />
		</Root>
	</Loggers>
</Configuration>